:root {
    --collection-1-black: rgba(0, 0, 0, 1);
    --collection-1-dark: rgba(40, 42, 64, 1);
    --collection-1-green: rgba(34, 169, 34, 1);
    --collection-1-white: rgba(255, 255, 255, 1);
    --h-2-font-family: "Wremena", Helvetica;
    --h-2-font-size: 50px;
    --h-2-font-style: normal;
    --h-2-font-weight: 400;
    --h-2-letter-spacing: 0px;
    --h-2-line-height: 60px;
  }
  